<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edaochina.shopping.api.dao.user.SysMenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.edaochina.shopping.domain.entity.user.SysMenu">
        <id column="id" property="id"/>
        <result column="parent_id" property="parentId"/>
        <result column="title" property="title"/>
        <result column="icon" property="icon"/>
        <result column="path" property="path"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>
    <resultMap id="SysMenuVOMap" type="com.edaochina.shopping.domain.vo.sys.SysMenuVO">
        <id column="id" property="id"/>
        <result column="parent_id" property="parentId"/>
        <result column="title" property="title"/>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, parent_id, title, icon, path, create_time, update_time
    </sql>
    <select id="sysMenuList" resultMap="SysMenuVOMap">
        select id,parent_id,title
        from sys_menu
        order by id
    </select>
    <select id="queryById" resultMap="SysMenuVOMap">
        select id,parent_id,title
        from sys_menu
        where id = #{id}
    </select>
    <select id="sysMenuIds" resultType="java.lang.String">
        select id
        from sys_menu
    </select>

    <select id="selectByRoleId" resultMap="BaseResultMap">
        select m.*
        from sys_menu m
                 left join sys_permission p on p.menu_id = m.id
        where p.role_id = #{roleId}
    </select>

    <select id="selectByAccountId" resultMap="BaseResultMap">
        select m.*
        from sys_menu m
                 left join sys_user_permission p on p.menu_id = m.id
        where p.account_id = #{accountId}
    </select>


    <select id="selectByRole" resultMap="BaseResultMap">
      select m.*
        from sys_menu m,sys_menu_conf smc
        where smc.role_id = #{role}
        and smc.menu_id = m.id
        order by m.sort
    </select>
</mapper>
