<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edaochina.shopping.api.dao.UserAddressMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.edaochina.shopping.domain.entity.user.UserAddress">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="receiver_name" property="receiverName"/>
        <result column="phone" property="phone"/>
        <result column="community_id" property="communityId"/>
        <result column="community_name" property="communityName"/>
        <result column="house_number" property="houseNumber"/>
        <result column="delete_flag" property="deleteFlag"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, receiver_name, phone, community_id, community_name, house_number, delete_flag, create_time, update_time
    </sql>

</mapper>
